.userData {
    width: 70%;
    margin: 0 auto;
    color: #fafbfc;
    a {
        color: #fafbfc;  
    }
    .backLink {
        position: absolute;
        bottom: 100px;
        margin-left: 66%;
        color: #fafbfc;
        cursor: pointer;
    }
}